.side-by-side {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width:100%;
}

.side-by-side > * {
  flex: 1;
  min-width: 0;
}

.side-by-side > *:last-child {
  padding: 0 1rem;
}

.side-by-side p {
  text-align: left;
}

@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
    gap: 1rem;
  }

  .side-by-side > *:last-child {
    padding: 0;
  }

  .side-by-side p {
    text-align: center;
  }
}
