@font-face {
  font-family: 'Countryside';
  src: url('./countryside-font/Countryside-YdKj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enjelina';
  src: url('./enjelina-font/EnjelinaDemo-VGzDZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geraldine';
  src: url('./geraldine-font/GeraldinePersonalUseItalic-PK12m.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title h1 {
  font-family: 'Geraldine', serif;
  font-size: 10rem;
  color: white;
  text-align: center;
  margin: 0;
  z-index: 1;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 2.5rem;
    border: 2px solid white;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 2rem;
    padding: 12vh 12vw;
    letter-spacing: 0.05em;
  }
}
